<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_producttaxrates})}|">Show ProductTaxRates - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${productTaxRates}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="producttaxrates-taxslab-field" data-z="8660b552">
            	      <strong data-th-text="#{label_producttaxrates_taxslab}">taxSlab</strong>
                    <span data-th-text="*{{taxSlab}}">taxSlabValue</span>
         	        </li>
                  <li id="producttaxrates-taxrate-field" data-z="8406b892">
            	      <strong data-th-text="#{label_producttaxrates_taxrate}">taxRate</strong>
                    <span data-th-text="*{{taxRate}}">taxRateValue</span>
         	        </li>
                  <li id="producttaxrates-product-field" data-z="30479ff2">
            	      <strong data-th-text="#{label_producttaxrates_product}">product</strong>
                    <span data-th-text="*{{product}}">productValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
